.header {
    background-image: url('https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2282&q=80');
    height: 100%;
    padding-bottom: 209px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;

    .app-name {
        display: flex;
        margin: 242px 0 0 224px;
        flex-direction: column;
        align-items: center;

        p {
         font-size: 2.4rem;
         padding-bottom: 21px;
         color: white;
         }

         button {
            .intro-button();
         }
    }

    .ui-buttons {
        margin: 24px;
    
        button {
            .ui-buttons(); 
           }
        }
    }
