// Button Creation'

.ui-buttons() {
    font-family: @header-font;
    margin-right: 15px;
    height: 38px;
    width: 106px;
    border-radius: 6px;
    font-size: 1.5rem;
    color: white;
    background: black;
    border: none;
    cursor: pointer; 
    font-weight: bold;

    @media @mobile {
        height: 50px;
        width: 332px;
        margin-bottom: 12px;
        }

    &:hover {
        background: white;
        color: black;
    }
}

.intro-button() {
    font-family: @header-font;
    height: 33px;
    width: 182px;
    border-radius: 7px;
    border: none;
    font-size: 1.5rem;
    background: white;
    cursor: pointer; 
    font-weight: bold;

    @media @mobile {
        height: 44px;
        width: 229px;
    }

    &:hover {
        background:black;
        color:white;
    }
}


//Navigation

.navigation() {
    display: flex;
    justify-content: space-evenly;
    padding-top: 29px;
      
    a {
        text-decoration: none;
        color: white;
        font-family: @header-font;   
        font-size: 1.7rem;
        font-weight: bold;
    }
}

//About Us button

.learn-more() {
        border-radius: 6px;
        font-size: 1.4rem;
        color: white;
        background: black;
        border: none;
        cursor: pointer;
        font-weight: bold;
        height: 32px;
        width: 152px;
}