        //Mobile viewport
@mobile: ~"(max-width: 500px)";

         //FONTS
@header-font: 'Montserrat', sans-serif;
@main-font: 'Raleway', sans-serif;

        //Colors
@general-background: #EACFB2;
@featuredBooks-background: #E4C3A5;