.main-page{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;

    @media @mobile {
        padding: 0 2%;
    }
}

.intro, .app-features {
    background: @general-background;
}

.intro {
    padding: 153px 0 65px 120px;

    @media @mobile {
        padding: 45px 4%;
    }

    h2{
        font-size: 5rem;
        font-weight: 600;
        padding-left: 8%;
    }

      @media @mobile {
          padding-left: 2%;
          font-size: 2.6rem;
      }
    }

    p {
        font-size: 2rem;
        margin-left: 13%;
        margin-top: 16px;

        @media @mobile {
            width: 91%;
            font-size: 1.7rem;
            padding-top: 16px;
        }
    }

.app-features {
    display: flex;
    padding: 105px 2%;
    margin-bottom: 12px;

    @media @mobile {
        flex-direction: column;
        padding: 0;
    }

    .feature1 {
        width: 26.5%;
        margin-right: 60px;
        margin-left: 4%;

        @media @mobile {
            width: 42.5%;
            margin-left: 31%;
            padding: 63px 0;
            border-bottom: 1px solid;
        }

        h3 {
            font-size: 2.5rem;
            font-weight: 800;
            width: 96%;
            padding-bottom: 31px;
            padding-left: 8%;

            @media @mobile {
                width: 125%;
                font-size: 2rem;
                font-weight: bold;
                padding-bottom: 20px;
                padding-left: 0;
            }
          
         }

        p {
            width: 95%;
            padding-top: 18px;

           @media @mobile {
            padding-top: 16px;
            font-size: 1.67rem;
            font-weight: normal;   
            margin-left: 0;       
           }
        }
    }

    .feature2 {
        width: 26.8%;
        margin-right: 56px;

        @media @mobile {
            width: 42.5%;
            margin-left: 31%;
            padding: 63px 0;
            border-bottom: 1px solid;
            margin-right: 0;
        }

        h3 {
            font-size: 2.5rem;
            font-weight: 800;
            width: 96%;
            padding-bottom: 31px;
            padding-left: 16%;
        }

        p {
            padding-top: 16px;
           
           @media @mobile {
            padding-top: 16px;
            font-size: 1.67rem;
            font-weight: normal;
            padding-left: 0;
               }
           }
        }
       
    }

    .feature3 {
        width: 26.8%;

        @media @mobile {
            width: 42.5%;
            margin-left: 31%;
            padding: 63px 0;
            margin-right: 0;
        }
         h3 {
            padding-left: 4%;
            font-size: 2.5rem;
            font-weight: 800;
            width: 103%;
            padding-bottom: 26px;
         }

         p {
           padding-top: 22px;
           line-height: 24px;
         }
    }

    img{
        border-radius: 16px;
    }

         @media @mobile {
            padding-top: 16px;
            font-size: 1.67rem;
            font-weight: normal;
            padding-left: 0;
               }

.featured-books{
    background: @featuredBooks-background;

    h2 {
      padding: 12px 34%;
      font-size: 5rem;

      @media @mobile {
        padding: 3px 20%;
        padding-top: 16px;
        font-size: 4rem;
      }
    }

    p {
      font-size: 2.4rem;
      padding-bottom: 25px;
      font-weight: none;

      @media @mobile {
        font-size: 2rem;
        width: 95%;
        margin-left:32px;
      }
    }
}


.main-banner{
    margin: 0 auto;
    width: 1100px;
    height: 525px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    
    @media @mobile {
        width:100%;
   }

}

.main-banner .imgban {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    transition: all ease-in-out 500ms;
}

.main-banner #imgban3 {
    background-image: url(https://images.unsplash.com/photo-1512820790803-83ca734da794?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1548&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-banner #imgban2 {
    background-image: url(https://images.unsplash.com/photo-1553077640-1563c06a7ca0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1498&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-banner #imgban1 {
    background-image: url(https://images.unsplash.com/photo-1517221514-0fc402968cb1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imgbanbtn {
    width:40px;
    height: 40px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    top: 180px;
    z-index: 2000;
    opacity: 0.8;
    cursor: pointer;

    &:hover{ 
        opacity: 0.9;
    }

}

.main-banner .imgban-box h2 {
    font-family: @main-font;
    font-size: 60PX;
    color: #fff;

    @media @mobile {
        font-size: 38PX;
    }
}

.main-banner .imgban-box p {
    padding-top: 6px;
    font-family: @main-font;
    font-size: 16px;
    color: #fff;
}

.main-banner #imgban3 .imgban-box {
    padding-top: 220px;
    padding-left: 100px;
}

.main-banner #imgban2 .imgban-box {
    padding-top: 220px;
    padding-right: 100px;
    float: right;
    text-align: right;
}

.main-banner #imgban1 .imgban-box {
    padding-top: 70px;
    padding-left: 100px;
}