.main-page{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.intro, .app-features {
    background: @general-background;
}

.featured-books{
    background: @featuredBooks-background;
}
